@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground antialiased font-mono cursor-none;
  }
}

@layer utilities {
  .text-shadow-heavy {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  }
}